<form>
  <div>
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" #nome>
  </div>
  <div>
      <label for="telefone">telefone</label>
      <input type="text" name="telefone" id="telefone" #telefone>
  </div>
  <div>
      <label for="email">email</label>
      <input type="text" name="email" id="email" #email>
  </div>
  <div>
      <label for="aniversario">aniversario</label>
      <input type="text" name="aniversario" id="aniversario" #aniversario>
  </div>
  <div>
  <label for="tipo">Tipo</label>
  <select name="tipo" id="tipo" #tipo>
      <option *ngFor="let tp of tipos"
              [value]="tp">{{tp}}</option>
  </select>
</div>
<input type="button" value="Cadastrar"
     (click)="adicionarContato(nome.value, telefone.value, email.value, aniversario.value, tipo.value)">
</form>

<table *ngIf="contatos.length > 0">
  <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Aniversario</th>
      <th>Tipo</th>
  </tr>
  <tr *ngFor="let cc of contatos">
      <td>{{cc.getNome()}}</td>
      <td>{{cc.getTelefone()}}</td>
      <td>{{cc.getEmail()}}</td>
      <td>{{cc.getAniversario()}}</td>
      <td>{{cc.getTipo()}}</td>
  </tr>
</table>
